.modal-header
    h3.modal-title
        span.glyphicon.glyphicon-import
        |  View Condition
.modal-body
    tabset
        tab(heading="Condition")
            br
            form.form-horizontal(role="form")
                .form-group
                    label.col-sm-4.control-label(for="condition-type") Condition Type:
                    .col-sm-8
                        p#condition-type.form-control-static {{condition.condition_type}}
                div(ng-switch="condition.condition_type")
                    div(ng-switch-when="Setting")
                        .well.form-group-well
                            .form-group
                                label.col-sm-4.control-label(for="setting-name") Name:
                                .col-sm-8
                                    p#setting-name.form-control-static {{condition.setting.name}}
                            .form-group
                                label.col-sm-4.control-label(for="setting-level") Level:
                                .col-sm-8
                                    p#setting-level.form-control-static {{condition.setting.level}}
                            .form-group
                                label.col-sm-4.control-label(for="setting-value") Value:
                                .col-sm-8
                                    p#setting-value.form-control-static {{condition.setting.value}}
                    div(ng-switch-default)
                        .well.form-group-well
                            .form-group
                                label.col-sm-4.control-label(for="event-description") Description:
                                .col-sm-8
                                    p#description.form-control-static {{condition.description}}
                .form-group(ng-if="mode.input")
                    label.col-sm-4.control-label(for="enterFromUI") Enter from UI:
                    .col-sm-8
                        p#enterFromUI.form-control-static {{condition.ui.input.join(' ')}}
                .form-group(ng-if="mode.input")
                    label.col-sm-4.control-label(for="enterFromAPI") Enter from API:
                    .col-sm-8
                        p#enterFromAPI.form-control-static {{condition.api.input.join(' ')}}
                .form-group(ng-if="mode.output")
                    label.col-sm-4.control-label(for="enterFromUI") Displayed on UI:
                    .col-sm-8
                        p#enterFromUI.form-control-static {{condition.ui.output.join(' ')}}
                .form-group(ng-if="mode.output")
                    label.col-sm-4.control-label(for="enterFromAPI") Used in API:
                    .col-sm-8
                        p#enterFromAPI.form-control-static {{condition.api.output.join(' ')}}
                .form-group
                    label.col-sm-4.control-label(for="note") Note:
                    .col-sm-8
                        p#note.form-control-static {{condition.note}}
        tab(heading="Affects", ng-if="mode.output")
            br
            form.form-horizontal(role="form")
                include partial_view_affects
.modal-footer
    button.btn.btn-default(ng-click="close()") Close