extends ./layout

block task-content
    .form-group
        table.table.table-striped(style="margin-bottom: 0px")
            thead 
                th DATE
                th ADDED BY
                th TASK NAME
            tbody
                tr(ng-repeat="task in getTasks()")
                    td {{ task.params.created_date | date:'yyyy-MM-dd' }}
                    td {{ task.params.owner }}
                    td {{ task.name }}