extends ./layout

block task-content
    div(ng-controller="NewTaskCtrl")
        form(role="form", ng-submit="submit()")
            .form-group
                label(for="name") Task Name:
                    span.required  *
                input.form-control(ng-model="task.name", placeholder="Task Name", required="required")
            .form-group
                label(for="description") Task Description:
                    span.required  *
                input.form-control(ng-model="task.description", placeholder="Task Description", required="required")
            .form-group
                .row
                    .col-md-3
                        label(for="external_id") Feature TFS ID:
                            span.required  *
                        input.form-control(ng-model="task.external_id", placeholder="12345", required="required")
                    .col-md-9
                        label(for="availability") Availability:
                            .radio
                                label
                                    input(type="radio", name="availability", value="0", ng-model="task.availability.availability_type")
                                    | General Availability
                        .row
                            .col-md-3
                                .radio
                                    label
                                        input(type="radio", name="availability", value="1", ng-model="task.availability.availability_type")
                                        | Partner Specific
                            .col-md-9
                                input(type="hidden", ui-select2="ui.availability.partners.select", ng-model="task.availability.partners", placeholder="Partners", ng-disabled="task.availability.availability_type == 0")
            br
            input(type="submit", value="Save").btn.btn-primary
            a.btn.btn-default(type="button", href="/") Cancel