extends ./layout

block task-content
    style.
        .btn-add-condition {
            margin-top: -30px;
            margin-left: -30px;
        }
    div(ng-controller="NewTaskCtrl")
        p. Business Intelligence security is based on permissions granted to individual users and groups of users. The easiest way to manage users in Business Intelligence (BI) is to add user groups (or in some cases, individual user accounts) to the default groups in BI so that they have the access they need.

        form(role="form", ng-submit="submit()")
            .form-group
                label(for="name") Task Name:
                    span.required  *
                input#name.form-control(type="text", ng-model="task.name", placeholder="Task Name", required="required")
            .form-group
                label(for="description") Task Description:
                    span.required  *
                input#description.form-control(type="text", ng-model="task.description", placeholder="Task Description", required="required")
            .form-group
                .row
                    .col-md-3
                        label(for="external_id") Feature TFS ID:
                            span.required  *
                        input#external_id.form-control(type="text", ng-model="task.external_id", placeholder="12345", required="required")
                    .col-md-9
                        label(for="availability") Availability:
                            .radio
                                label
                                    input(type="radio", name="availability", value="0", ng-model="task.availability")
                                    | General Availability
                        .row
                            .col-md-3
                                .radio
                                    label
                                        input(type="radio", name="availability", value="1", ng-model="task.availability")
                                        | Partner Specific
                            .col-md-9
                                input#limited_release_name.form-control(type="text", ng-model="task.partner_specific", placeholder="", ng-disabled="task.availability == 0")
            .form-group
                label(for="description") Input:
                    span.required  *
                table.table.table-striped
                    tbody
                        th.col-td-3 Condition
                        th.col-td-3 Where Can I Set up Condition on UI
                        th.col-td-3 How Can I Set up Condition via API
                        th.col-td-3 Task Generates Condition
                    tr(ng-repeat="condition in task.input.conditions")
                        td
                            input(ui-select2="ui.input.condition.select", ng-model="condition.id", ng-change="task.input.addCondition(condition)", placeholder="Condition")
                        td
                            input(ui-select2="ui.input.ui.select", ng-model="condition.ui", placeholder="Where Can I Set up Condition on UI", ng-show="condition.id")
                        td
                            input(ui-select2="ui.input.api.select", ng-model="condition.api", placeholder="How Can I Set up Condition via API", ng-show="condition.id")
                        td
                            input(ui-select2="ui.input.dependency.select", ng-model="condition.dependency", placeholder="Task Generates Condition", ng-show="condition.id")
            .form-group
                label(for="description") Output:
                    span.required  *
                table.table.table-striped
                    tbody
                        th.col-td-2 Condition
                        th.col-td-2 Task Affected
                        th.col-td-2 How Existing Tasks Affected
                        th.col-td-2 Where Can I See Output on UI
                        th.col-td-2 What API Can Use Output
                        th.col-td-2 Task Uses Output as Input
                    tr(ng-repeat="outputCondition in task.output.conditions")
                        td
                        td
                        td
                        td
                        td
                        td
            br
            input(type="submit", value="Save").btn.btn-primary
            a.btn.btn-default(type="button", href="/") Cancel