extends ./layout

block task-content
    style.
        .btn-add-condition {
            margin-top: -30px;
            margin-left: -30px;
        }
    div(ng-controller="NewTaskCtrl")
        p. Business Intelligence security is based on permissions granted to individual users and groups of users. The easiest way to manage users in Business Intelligence (BI) is to add user groups (or in some cases, individual user accounts) to the default groups in BI so that they have the access they need.

        form(role="form", ng-controller="ProfileCtrl", ng-submit="submit()")
            .form-group
                label(for="name") Task Name:*
                input#name.form-control(type="text", ng-model="task.name", placeholder="Task Name", required="required")
            .form-group
                label(for="description") Task Description:*
                input#description.form-control(type="text", ng-model="task.description", placeholder="Task Description", required="required")
            .form-group
                .row
                    .col-md-3
                        label(for="external_id") Feature TFS ID:*
                        input#external_id.form-control(type="text", ng-model="task.external_id", placeholder="12345", required="required")
                    .col-md-9
                        label(for="availability") Availability:
                        .radio
                            label
                                input(type="radio", name="availability", value="0", ng-model="task.availability")
                                | General Availability
                        .row
                            .col-md-3
                                .radio
                                    label
                                        input(type="radio", name="availability", value="1", ng-model="task.availability")
                                        | Partner specific
                            .col-md-9
                                input#limited_release_name.form-control(type="text", ng-model="task.partner_specific", placeholder="", ng-disabled="task.availability == 0")
            .form-group
                label(for="description") Input:*
                table.table.table-striped
                    tbody
                        th.col-td-1 #
                        th.col-td-3 Condition
                        th.col-td-1 UI
                        th.col-td-1 API
                        th.col-td-6 Dependency
                    tr(ng-repeat="inputCondition in task.input.conditions")
                        td {{$index + 1}}
                        td
                            input(ui-select2="ui.condition.select", ng-model="inputCondition.condition", ng-change="task.input.addCondition()" placeholder="Pick a condition", style="width: 100%;")
                        td
                            .checkbox
                                label
                                    input(type="checkbox", ng-model="inputCondition.ui")
                        td
                            .checkbox
                                label
                                    input(type="checkbox", ng-model="inputCondition.api")
                        td
                            input(ui-select2="ui.dependency.select", ng-model="inputCondition.dependency", placeholder="Pick a dependency", style="width: 100%;")
            .form-group
                label(for="description") Output:*
                table.table.table-striped
                    tbody
                        th #
                        th Condition
                        th Affects
                        th How
                        th Dependency
                        th UI
                        th API
                    tr(ng-repeat="outputCondition in task.output.conditions")
                        td {{$index + 1}}
                        td {{outputCondition.name}}
                        td {{outputCondition.affects}}
                        td {{outputCondition.how}}
                        td {{outputCondition.dependency}}
                        td {{outputCondition.ui}}
                        td {{outputCondition.api}}
            br
            button.btn.btn-primary(type="button") Save
            a.btn.btn-default(type="button", href="/") Cancel