span.icon-set(ng-switch="condition.condition_type")
    span.icon-set-icon.glyphicon.glyphicon-wrench(ng-switch-when="Setting")
    span.icon-set-icon.glyphicon.glyphicon-flash(ng-switch-when="Event")
    span.icon-set-icon.glyphicon.glyphicon-floppy-disk(ng-switch-when="File/Data")
    span.icon-set-icon.glyphicon.glyphicon-pushpin(ng-switch-when="State")
    span.icon-set-icon.glyphicon.glyphicon-transfer(ng-switch-when="Request")
span.icon-set(ng-if="condition.condition_type === 'Setting'", ng-switch="condition.setting.level")
    span.icon-set-icon.glyphicon.glyphicon-hdd(ng-switch-when="Database")
    span.icon-set-icon.glyphicon.glyphicon-globe(ng-switch-when="TPA Setup")
    span.icon-set-icon.glyphicon.glyphicon-tower(ng-switch-when="Administrator")
    span.icon-set-icon.glyphicon.glyphicon-cutlery(ng-switch-when="Employer")
    span.icon-set-icon.glyphicon.glyphicon-user(ng-switch-when="Consumer")
    span.icon-set-icon.glyphicon.glyphicon-file(ng-switch-when="Plan")
    span.icon-set-icon.glyphicon.glyphicon-shopping-cart(ng-switch-when="Enrollment")