extends ./layout

block task-content
    div(ng-controller="ViewTaskCtrl", ng-init="init('#{id}')")
        form(role="form")
            include partial_task_view_general
            include partial_task_view_inputs
            include partial_task_view_outputs