.container
    .row
        .col-md-2
            P. © 2014 Sergey Babitsky
        .col-md-8
        .col-md-2.text-right
            a(href="//github.com/sbabitsky/BusinessIntelligence") Source code