.container
    .row
        .col-md-2
            p. © 2014 Sergey Babitsky
        .col-md-7
        .col-md-3.text-right
            | v. 0.0.1      
            a(href="//github.com/sbabitsky/BusinessIntelligence") Source code