if title
    title= title
else
    title Business Intelligence
meta(name="viewport" content="width=device-width initial-scale=1.0")

include context

script(src="/components/jquery/dist/jquery.js")

script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.js")

link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
script(src="/components/bootstrap/dist/js/bootstrap.min.js")

link(rel="stylesheet" href="/public/css/body.css")
link(rel="stylesheet" href="/public/css/docs.css")

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.js")


script(src="/public/js/components/linq.min.js")
script(src="/public/js/app.js")
script(src="/public/js/services.js")
script(src="/public/js/controllers.js")
script(src="/public/js/management.controllers.js")
script(src="/public/js/management.services.js")
script(src="/public/js/task.controllers.js")
script(src="/public/js/task.services.js")
script(src="/public/js/search.controllers.js")
script(src="/public/js/search.services.js")
script(src="/public/js/models.js")

link(rel="stylesheet", href="/components/select2/select2.css")
link(rel="stylesheet", href="/components/select2/select2-bootstrap.css")

script(src="/components/angular-bootstrap/ui-bootstrap.min.js")
script(src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js")

script(src="/components/select2/select2.js")
script(src="/components/angular-ui-select2/src/select2.js")
script(src="/components/holderjs/holder.js")
script(src="/components/async/lib/async.js")
script(src="/components/sprintf/dist/sprintf.min.js")
script(src="/components/nya-bootstrap-select/src/nya-bootstrap-select.js")