doctype html
html(ng-app="biApp")
    head
        include head
    body(ng-controller="ApplicationCtrl")
        include navbar
        .container.page-header
            include alert
            block content