doctype html
html(ng-app="biApp")
    head
        include head
    if user
        body(ng-controller="ApplicationCtrl", ng-init="init('#{user}')")
    else
        body
    include navbar
    .container.page-header
        include alert
        block content
    footer
        include footer