style
.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
                span.icon-bar
                span.icon-bar
                span.icon-bar
            if user
                a.navbar-brand(href="/")
                    span.glyphicon.glyphicon-home
        .navbar-collapse.collapse
            if user
                ul.nav.navbar-nav
                    li
                        a(href="/")
                            span.glyphicon.glyphicon-book
                            |  Tasks
            ul.nav.navbar-nav.navbar-right
                include profile