#nav-bar-profile
    if user
        #userprofileform
            form#profileform.navbar-form.navbar-right(method="post", action="/signout")
                .form-group
                    ul.nav.navbar-nav
                        li.dropdown
                            a#profile.dropdown-toggle(href="#", data-toggle="dropdown", style="padding: 0px;")
                                img#img-avatar.image-avatar-small(ng-src="/image/{{user.avatar}}")
                                |  
                                b.caret
                            ul.dropdown-menu
                                li(style="padding: 0px;")
                                    a#btn-profile(href="/profile/index")
                                        span.glyphicon.glyphicon-user
                                        |  Profile
                                li
                                    a#btn-signout(href="#", ng-click="signout()")
                                        span.glyphicon.glyphicon-off
                                        |  Sign out
            script.
                $('#btn-signout').click(function() {
                    $('#profileform')[0].submit();
                });
    else
        #unknownprofileform
            form#profileform.navbar-form(method="post", action="/signin")
                .form-group
                    input.form-control(type="email", placeholder="Email", name="email", required="required")
                .form-group
                    input.form-control(type="password", placeholder="Password", name="password", required="required")
                input(type="submit", value="Sign in", ng-click="signin()")#btn-signin.btn.btn-success