.bs-sidebar .nav .nav {
    display: block;
}


#nav-bar-profile #profileform .form-group,
#nav-bar-profile #profileform input,
#nav-bar-profile #profileform a,
.label,
.btn {
    margin-right: 3px;
}

.rotate90 {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

.select2-container {
    width: 100%;
}

.col-td-min {
    width: 1px;
}

.col-td-1 {
    width: 95px;
}

.col-td-2 {
    width: 190px;
}

.col-td-3 {
    width: 285px;
}

.col-td-4 {
    width: 380px;
}

.col-td-5 {
    width: 475px;
}

.col-td-6 {
    width: 570px;
}

.col-td-7 {
    width: 665px;
}

.col-td-8 {
    width: 760px;
}

.col-td-9 {
    width: 855px;
}

.col-td-10 {
    width: 950px;
}

.col-td-11 {
    width: 1045px;
}

.col-td-12 {
    width: 1140px;
}

.required {
    color: red;
}

.required-one-of {
    color: orange;
}

.ui-match {
    background: yellow;
}

.image-avatar-tiny {
    width: 24px !important;
    height: 24px !important;
}

.image-avatar-small {
    width: 32px !important;
    height: 32px !important;
}

.image-avatar-medium {
    width: 48px !important;
    height: 48px !important;
}

.image-avatar-large {
    width: 128px !important;
    height: 128px !important;
}

.icon-set {
    
}

.icon-set-icon {
    padding-right: 3px;
}

.no-wrap {
    white-space: nowrap;
}

a {
    cursor: pointer;
}

.loader {
}

.form-group-well {
    padding-bottom: 0px;
}