.bs-sidebar .nav .nav {
    display: block;
}

#nav-bar-profile #loginform .form-group,
#nav-bar-profile #loginform input {
    margin-right: 3px;
}

.alert {
    margin-bottom: 0px;
    text-align: center;
}