extends ./layout

block home-content
    div
        if !user
            .jumbotron
                div
                    h2 
                        img.img-rounded(src="/public/images/knowledgeBase48x48.png")
                        span Impact / Dependency Traceability
                    p. Currently there is no transparency in how processes in 1Cloud are held and managed. It takes significant time and effort to determine the dependencies between different processes in the system, its start/end points and what impact they have on each other. That slows down the work of Business Analysts, Developers and Testers during the estimation as well as requirements gathering, developing and testing the features.
                    p. The main purpose of this project is to develop a tool that would provide means to store and track information about 1Cloud processes/tasks and their interdependencies between each other. The goal is to make this information available and easy to find for all 1Cloud team members.
                    p.text-right
                        small v. 0.2.0
        else
            include search