extends ../layout

block content
    div
        .jumbotron
            .container
                img(src="http://www.evolution1.com/themes/responsive/images/ev1_newlogo.jpg", style="float: right;").img-rounded
                h2 Business Intelligence
                p. If you are looking to quickly build out a self-service BI solution that tells the story of your data, you can now use the tool you know and love – Excel - to rapidly mash-up, explore, analyze and visualize any data ranging from a few rows to hundreds of millions of rows.
