extends ../layout

block content
    div
        .jumbotron
            .container
                h1 Business Intelligence
                p Description.
                div
                    p(style="float: left;")
                        a(role="button").btn.btn-primary.btn-lg Read »