extends ../layout

block content
    div
        .jumbotron
            .container
                img(src="http://www.evolution1.com/themes/responsive/images/ev1_newlogo.jpg", style="float: right;").img-rounded
                h2 Business Intelligence
                p. If you are looking to quickly build out a self-service BI solution that tells the story of your data, you can now use the tool you know and love – Excel - to rapidly mash-up, explore, analyze and visualize any data ranging from a few rows to hundreds of millions of rows.
        if user
            .row
                .col-md-6
                    h2 Impact Traceability  
                        span.glyphicon.glyphicon-sort-by-attributes
                    p. Requirements traceability is concerned with documenting the life of a requirement and providing bi-directional traceability between various associated requirements.
                    p: a(role="button", href="#").btn.btn-default View details »
                .col-md-6
                    h2 Dependency Traceability  
                        span.glyphicon.glyphicon-sort-by-attributes-alt
                    p. Traceability helps to identify the way a given requirement or process has been implemented in a system, enabling you to follow the path of dependencies from the initial request, through a modeled solution and up to the deployed physical system or process.
                    p: a(role="button", href="#").btn.btn-default View details »
            .row
                .col-md-6
                    h2 Users / Groups  
                        span.glyphicon.glyphicon-user
                    p. Users are entities that can be authenticated in a realm. As a result of authentication, a user is assigned an identity, or principal.
                    Each user is given a unique identity within the realm. Users may be placed into groups that are associated with security roles, or can be directly associated with security roles.
                    Groups are logically ordered sets of users. Users are organized into groups that can have different levels of access to the portal resources, depending on their job functions. All user names and groups must be unique within a realm.
                    p: a(role="button", href="#").btn.btn-default View details »
                .col-md-6
