div(ng-controller="SearchCtrl")
    .input-group
        span.input-group-btn
            button.btn.btn-default(type="button", ng-click="search()")
                span.glyphicon.glyphicon-search
        input.form-control(placeholder="Search criteria", ng-model="search.criteria", ng-change="search()")
    br
    table.table.table-striped
        tr(ng-repeat="task in search.tasks")
            td.col-td-min
                | {{$index + 1}}
            td
                a(ng-href="/task/view/{{task.id}}")
                    span(ng-bind-html="highlight(task.name)")
                p(ng-bind-html="highlight(task.description)")
            td.col-td-min
                a(ng-href="/task/update/{{task.id}}", ng-show="user.access.taskUpdate") Update Task