extends error

block content
    div
        .row
            .col-md-6
                p. error
            .col-md-3
                h1 505
            .col-md-3
                img(src="public/images/error.jpg")
